/* resetting rules */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #f0e2c5;
  color: #48281a;
}
/* header section */
#header {
  text-align: center;
  /* border: 1px solid black; */
  padding: 50px 0;
}
#header h1 {
  font-family: "Playfair Display SC", serif;

  font-size: 3rem;
}
#header p {
  font-family: "Lato", sans-serif;
  margin: 20px;
}
#header button {
  width: 200px;
  height: 40px;
  background-color: #48281a;
  color: white;
  border: none;
  border-radius: 8px;
}
/* navation section */
nav {
  /* border: 1px solid black; */
  text-align: center;
  padding: 30px 0px;
}
nav a {
  border: 1px solid black;
  font-family: "Lato", sans-serif;
  color: black;
  padding: 10px 20px;
  text-decoration: none;
  margin-right: 10px;
  border-radius: 8px;
  /* border: none; */
}
#ourmenu,
#aboutus,
#contactus,
#footer {
  /* border: 2px solid #000; */
  width: 90%;
  margin: 10px auto;
}
#ourmenu h2,
#aboutus h2,
#contactus h2 {
  font-family: "Playfair Display SC", serif;
  color: #49281a;
}
.menulist {
  /* border: 2px solid black; */
  padding: 20px 0px;
  text-align: center;
}
.menulist h3 {
  font-family: "Lato", sans-serif;
  color: #49281a;
  text-align: left;
  margin-bottom: 20px;
}
.coffeeselection {
  padding: 5px 0px;
}
.deliciousSnacks {
  padding: 5px 0px;
}
.card {
  border: 2px solid black;
  width: 250px;
  margin: 5px;
  border-radius: 10px;
  display: inline-block;
}
.card-img-top {
  max-width: 100%;
  border-radius: 10px 10px 0 0;
}
.card-body {
  text-align: center;
  padding: 10px;
  border-radius: 0 0 10px 10px;
}
.card-body .card-title {
  padding: 10px 0;
}
.card-body .card-text {
  line-height: 1.5;
  margin-bottom: 10px;
}
.price {
  font-weight: bold;
  font-style: italic;
}
.btn {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: none;
  background-color: #48281a;
  color: white;
  cursor: pointer;
}
#aboutus p,
#contactus p #footer p {
  font-family: "Lato", sans-serif;
  padding: 10px;
  text-align: justify;
  line-height: 1.5;
}
/* contactus section */
form {
  font-family: "Lato", sans-serif;
}
form div {
  /* border: 1px solid #000; */
  padding: 10px 0;
}
.form-lable {
  display: inline-block;
  /* border: 1px solid #000; */
  width: 150px;
  text-align: right;
  margin-right: 10px;
}
.form-control {
  width: 250px;
  border: none;
  outline: none;
  border-bottom: 1px solid #48281a;
}
.btn-submit {
  margin-left: 170px;
  width: 150px;
  height: 40px;
  background-color: #48281a;
  color: #f0e2c5;
  border-radius: 8px;
  cursor: pointer;
}
footer p {
  text-align: center;
  font-size: 0.8rem;
}
